@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
ul{
    display: flex;
    gap: 4vmax;
    justify-content: center;
    align-items: center;
}
ul > li{
    list-style: none;
}
.nav-links{
    text-decoration: none;
    font-size: 1vmax;
    color: #a7a9ad;
    font-family: 'Poppins', sans-serif;
}
.nav-btn{
    text-decoration: none;
    font-size: 1vmax;
    background: #03A8B0;
    padding: 0.7vmax 2vmax;
    border-radius: 14px;
    color: white;
}
.logo-img{
    width: 9vmax;
    height: 7vmax;
}
.nav-links:hover{
    color: white;
}